*{
  list-style-type: none;
  margin: 0px;
  text-decoration: none;
  text-align: center;
}
.slider{
  width:100% ;
  height: 500px;
  position: absolute;
  left:0%;
  top: 0%;
  overflow: hidden;
}
img{
  width: 100%;
}
.ul_img{
  width: 6000px;
  padding: 0px;
  margin: 0px;
  transition: all 2s;
}
.li_img{
  float: left;
  width: 1365px;
  height: 500px;
}
.buttom{
  z-index: 999;
  height: 30px;;
  width: 76px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -38px;
  margin-top: 200px;
}

.buttom_btn{
  width: 10px;
  height: 10px;
  float: left;
  border: 1px solid white;
  border-radius:50%;
  margin-left: 10px;
  margin-top: 10px;
}
/*.buttom_btn:hover{
  background-color: white;
}*/
.slider_nav{
  z-index: 999;
  width: 1365px;
  height: 50px;
  /*background-color: blue;*/
  position: absolute;
  top: 10%;
  left: 0%;

}
.slider_nav li{
  float: left;
}
.slider_nav li a{
  display: block;
  /*background-color: red;*/
  width: 60px;
  height: 30px;
  line-height: 30px;
  margin-left: 165px;
  color: white;
  border: 1px solid transparent;
}
.slider_nav li a:hover{
  border-color: yellow !important
}
.vr_famliy{
  text-transform:uppercase;
  z-index: 999;
  position: absolute;
  top: 100%;
  left: 45%;
  color: white;
  margin-top: 100px;
}
.slider_under{
  z-index: 999;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background:#EFF1F0;
  height:200px;
  width: 40%;
  margin-top: 100px;
  /*border: 2px solid red;*/
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -323px;

}
.li_top{
  width: 70px;
  height: 70px;
  border: 1px solid #8BABD1;
  border-radius: 70px;
  margin-left: 100px;
}
.li_middle{
  width:70px;
  margin-left: 100px;
}
.li_middle
  a:link    {color:#4C4646;}
  a:visited {color:#4C4646;}
  a:hover   {color:#1CAFFC;}
  a:active  {color:#4C4646;}
.li_bottom{
  font-size: 10px;
  margin-left: 100px;
}
.li_bottom:hover{
  color:#1CAFFC;
}
.li_bottom:link  {
  color: #D2D8E0;
}
.under_bg{
  width: 100%;
  height:300px;
  background:#EFF1F0;
  border: 1px solid #8BABD1;
  margin-top: 500px;
}
.head_search{
  margin-top: 20px;
}
.search_bar{
  width: 500px;
  height: 30px;
}
.search_btn{
  width: 50px;
  height: 30px;
}
.search_more{
 font-size: 10px;
 margin-left:20px;
}
.search_more:hover{
  color:#1CAFFC ;
}
.video-box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 300px;
}
.video-box a{
  margin-top: 40px;
  display: block;
  width: 200px;
  height: 140px;
}
.video-box a img{
  width: 200px;
  height: 140px;
}
.video-box a span:hover{
  background:url(../img/play.jpg) no-repeat;
  background-size: 60px;

}
.video-box a span{
  z-index: 999;
  position: relative;
  top: -100px;
  display:inline-block;
  height: 60px;

  /*border-radius: 60px;*/
  background-size: 60px;
  background: rgba(52,52,52,0);
}
.information{
  margin-top: -80px;
  width: 1366px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.information li img{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.buttom_infomation{
  width: 300px;
  height: 300px;
}
.buttom_infomation a{
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  color:black;
}

/*.ul_circle{
  width: 700px;
  margin-left: 245px;
}
.li_circle{
  float: left;
  padding-left: 140px;
}
.li_circle a{
  display: block;
  width: 70px;
  height: 70px;
  border: 1px solid #8BABD1;
  border-radius: 70px;

}
.ul_aside{
  width: 700px;
  margin-left: 245px;
}
.li_aside{
  float: left;
  padding-left: 126px;
}
.li_aside a{
  display: block;
  width: 90px;
  height: 40px;
  border: 1px solid #8BABD1;
  /*border-radius: 70px;
}*/
